fastapi
uvicorn[standard]
requests
loguru
pydantic
python-multipart
numpy
faiss-cpu
sentence-transformers
torch
python-dotenv
PyPDF2
PyMuPDF
python-docx
pandas
openpyxl
python-pptx
Pillow
pytesseract
beautifulsoup4
langchain